<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miaojie.springboot.demo.dao.SysLogMapper">
  <resultMap id="BaseResultMap" type="com.miaojie.springboot.demo.model.SysLog">
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="OPERATION" jdbcType="VARCHAR" property="operation" />
    <result column="TIME" jdbcType="INTEGER" property="time" />
    <result column="METHOD" jdbcType="VARCHAR" property="method" />
    <result column="PARAMS" jdbcType="VARCHAR" property="params" />
    <result column="IP" jdbcType="VARCHAR" property="ip" />
    <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
  </resultMap>
  <insert id="insert" parameterType="com.miaojie.springboot.demo.model.SysLog">
    insert into sys_log (ID, USERNAME, OPERATION, 
      TIME, METHOD, PARAMS, 
      IP, CREATE_TIME)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{operation,jdbcType=VARCHAR}, 
      #{time,jdbcType=INTEGER}, #{method,jdbcType=VARCHAR}, #{params,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.miaojie.springboot.demo.model.SysLog">
    insert into sys_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="operation != null">
        OPERATION,
      </if>
      <if test="time != null">
        TIME,
      </if>
      <if test="method != null">
        METHOD,
      </if>
      <if test="params != null">
        PARAMS,
      </if>
      <if test="ip != null">
        IP,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="operation != null">
        #{operation,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=INTEGER},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
</mapper>